<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Passwort zurücksetzen</title>
</head>
<body>
    <h1>Hallo {{ user_name }},</h1>
    <p>Du hast eine Anfrage zum Zurücksetzen deines Passworts gestellt. Bitte verwende den folgenden Code, um dein Passwort zurückzusetzen:</p>
    <h2>{{ code }}</h2>
    <p>Dieser Code ist für 10 Minuten gültig. Wenn du diese Anfrage nicht gestellt hast, ignoriere bitte diese E-Mail.</p>
    <br>
    <p>Viele Grüße,</p>
    <p>Dein Team</p>
</body>
</html>